<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/logowhite1.png">
        <link rel="stylesheet" href="/asset/menu/osuasset/osuparticipant.css">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/asset/fontawesome-free-6.5.2-web/css/all.css">
    <title>kittyboy | Home</title>
</head>

<header>
    <div class="header"> 
        <a href="/index.html"><img src="/images/logo2.png"></a>
        <ul class="menu">
            <li><a href="/view/aboutme.html">ABOUT ME</a></li>
                <li><a href="#">MENU</a> 
                    <ul class="menu-sub">
                        <li><a href="/view/skill.html">SKILL</a></li>
                        <li><a href="/view/pc.html">PC & Gaming gear</a></li>
                        <li><a href="#">Osu!</a>
                            <ul class="osu">
                                <li><a href="/view/osu/osu.html">About osu!</a></li>
                                <li><a href="/view/osu/osuskin.html">osu!skin</a></li>
                                <li><a href="/view/osu/osucollab.html">Picture</a></li>
                                <li><a href="/view/osu/osuParticipant.html">osu!Participant</a></li>
                                <li><a href="/view/osu/staff_tournament.html">osu!Staff</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            
            <li><a href="/view/contact.html">LINK CONTACT</a></li>
        </ul>

    <div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
    </div>

    </div>

    <div class="header_dropdown">

        <li><a href="/view/aboutme.html">ABOUT ME</a></li>
        <li><a href="/view/skill.html">SKILL</a></li>
        <li><a href="/view/pc.html">PC & Gaming gear</a></li>
        <li><a href="/view/osu/osu.html">Osu!</a></li>
        <li><a href="/view/contact.html">LINK CONTACT</a></li>

    </div>

</header><br><br>

    <div class="info-2019">

        <a href="https://osu.ppy.sh/community/forums/topics/883339?n=1"><img src="/images/osu_tournaments/2019.png"></a>

        <h1>osu!mania Thailand Tournament 2019</h1>

        <p>Group Stage week 1</p>

    </div><br>

    <div class="info-2020">

        <a href="https://osu.ppy.sh/community/forums/topics/1047402?n=1"><img src="/images/osu_tournaments/2020.png"></a>

        <h1>osu!Mania Thailand Pro League 2020 [Sponsor.Cooler Master]</h1>

        <p>
            Playoff Round<br>

            Team : MaYoMi- [<a href="https://osu.ppy.sh/users/12737340">Nemo8648</a>] - [<a href="https://osu.ppy.sh/users/12186705">Fhk29251</a>]
        </p>

    </div><br>

    <div class="info-speed_of_light">

        <a href="https://osu.ppy.sh/community/forums/topics/973387?n=1"><img src="/images/osu_tournaments/speed of light.jpeg"></a>

        <h1>Speed of Light FFA 4k Mania Tournament</h1>

        <p>
            Group Stage First Week
        </p>

    </div><br>

    <div class="info-2021">

        <a href="https://osu.ppy.sh/community/forums/topics/1293390?n=1"><img src="/images/osu_tournaments/2021.png"></a>

        <h1>osu!mania Thailand Pro League 2021</h1>

        <p>
            4th Championship [Semi-finals]<br>

            Team : Troll Face [<a href="https://osu.ppy.sh/users/12621947">FarmMyLife</a>]
        </p>

    </div><br>

    <div class="info-meow">

        <a href="https://osu.ppy.sh/community/forums/topics/1838608?n=1"><img src="/images/osu_tournaments/meow.jpeg"></a>

        <h1>Meow Mania 3v3</h1>

        <p>
            Quarterfinals [Losers Semi-finals]<br>

            Team : Polygon [<a href="https://osu.ppy.sh/users/13349388">Achino</a>] - [<a href="https://osu.ppy.sh/users/10279743">shko</a>] - [<a href="https://osu.ppy.sh/users/10728432">Kaify</a>] - 
            [<a href="https://osu.ppy.sh/users/11998955">yuukituk</a>] - [<a href="https://osu.ppy.sh/users/15944956">MatchaLatte-</a>] - [<a href="https://osu.ppy.sh/users/12852613">Nattapoom</a>]
        </p>

    </div><br>

    <footer>
        <p>&#169; 2024 Nattapoom Wilawan</a></p>
    </footer>

    <script src="/javascript/dropmenu.js"></script>
</body>
</html>