<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/logowhite1.png">
        <link rel="stylesheet" href="/asset/menu/osuasset/staff.css">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/asset/fontawesome-free-6.5.2-web/css/all.css">
    <title>kittyboy | Home</title>
</head>

<header>
    <div class="header"> 
        <a href="/index.html"><img src="/images/logo2.png"></a>
        <ul class="menu">
            <li><a href="/view/aboutme.html">ABOUT ME</a></li>
                <li><a href="#">MENU</a> 
                    <ul class="menu-sub">
                        <li><a href="/view/skill.html">SKILL</a></li>
                        <li><a href="/view/pc.html">PC & Gaming gear</a></li>
                        <li><a href="#">Osu!</a>
                            <ul class="osu">
                                <li><a href="/view/osu/osu.html">About osu!</a></li>
                                <li><a href="/view/osu/osuskin.html">osu!skin</a></li>
                                <li><a href="/view/osu/osucollab.html">Picture</a></li>
                                <li><a href="/view/osu/osuParticipant.html">osu!Participant</a></li>
                                <li><a href="/view/osu/staff_tournament.html">osu!Staff</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            
            <li><a href="/view/contact.html">LINK CONTACT</a></li>
        </ul>

    <div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
    </div>

    </div>

    <div class="header_dropdown">

        <li><a href="/view/aboutme.html">ABOUT ME</a></li>
        <li><a href="/view/skill.html">SKILL</a></li>
        <li><a href="/view/pc.html">PC & Gaming gear</a></li>
        <li><a href="/view/osu/osu.html">Osu!</a></li>
        <li><a href="/view/contact.html">LINK CONTACT</a></li>

    </div>

</header><br><br>

    <div class="head_tournaments">

        <h1>
            o!mania 4K Pid Term Thailand<br>
            โอสุมาเนีย ปิดเทอมทัวร์นาเมนต์<br>
        </h1>

    </div>

    <div class="banner_tournaments">

        <img class="logo" src="/images/staff-img/1.png"> 
        
    </div>
    
    <div class="info_tournaments">

        <h2>Staff</h2><br>

        <p>Designer , Mappool Selecter , Mapper<br> 
            Referee , Commentator[Grand Final]</p><br>

        <p>การเป็นสตาฟครั้งนี้และครั้งแรกของผม รู้สึกดีมากๆๆ ขอบคุณสตาฟทุกคนมากๆ ได้ประสบการณ์จากการเป็นสตาฟ</p>
        
    </div>


    <footer>
        <p>&#169; 2024 Nattapoom Wilawan</a></p>
    </footer>

    <script src="/javascript/dropmenu.js"></script>
</body>
</html>