@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Mali", cursive;
}

html {
    height: 100%;
  }

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background: url(/images/wallpaperhome/osulink/wallpapercollab.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/*header*/

.header{
    background-color: #3e3e3e;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 30px 10%;
    height: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.header ul{
    display: flex;
}

.header ul li{
    list-style: none;
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.header ul.menu li ul.menu-sub li ul.osu li a{
    color: white;
}

.header ul.menu li ul.menu-sub li ul.osu li a:hover{
    color: black;
    transition: 0.5s
}


.header ul li:last-child a {
    margin-right: 0;
}

.header ul.menu li a:hover{
    color: black;
    transition: 0.5s
}

.header ul.menu-sub li:hover a{
    color: black;
    transition: 0.5s;
}

.header img{
    width: auto;
    height: 65px;
}

.header ul.menu li:hover{
    background-color: #3e3e3e;
    transition: 0.5s;
}

.header ul:hover li ul.menu-sub{
    transition: 0.3s;
}
    

.header ul.menu li ul.menu-sub{
    position: absolute;
    display: none;
    width: 230px;
    background-color: #383838;
}

.header ul.menu li ul.menu-sub li{
    padding: 15px 20px;
    display: flex;
}

.header ul.menu li:hover ul.menu-sub{
    display: block; 
    border: 2px solid white;
}


.header ul.menu li:hover{
    background-color: #3e3e3e;
    transition: 0.5s;
}

.header ul:hover li ul.menu-sub{
    transition: 0.3s;
}

.header ul.menu li ul.menu-sub li ul.osu {
    position: absolute;
    margin-top: 23px;
    margin-left: 30px;
    width: 230px;
    display: none;
    background-color: #383838;
}

.header ul.menu li ul.menu-sub li ul.osu li{
    padding: 15px 25px;
    display: flex;
}

.header ul.menu li:hover ul.menu-sub li:hover ul.osu{
    display: block; 
    border: 2px solid white;
}

/*header_dropdown*/

.header_dropdown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background:#383838; 
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32 , 1.275);
}

.header_dropdown li{
    padding: 0.7rem;
}

.header_dropdown a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.header_dropdown.open{
    height: 250px;
}

/*icon*/

.toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*pic*/

.pic{
    display: block;
    justify-content: center;
    padding: 0 150px;
}

.pic img{
    margin-top: 20px;
    border-radius: 25px;
    border: 5px solid white;
    width: auto;
    height: 400px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 1);
}

/*popup-image*/


/*footer*/

footer{
    padding: 15px;
    align-items: center;
    background-color: #3e3e3e;
    margin-top: auto;
}
  
footer p{
    color: white;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}


@media screen and (max-width:900px) {

    .header{
        padding: 0 35px;
        height: 70px;
        justify-content: space-between;
    }

    .header img{
        display: block;
    }

    .header ul li a{
        display: none;
    }

    .toggle_btn{
        display: block;
    }

    .header_dropdown{
        display: block;
    }

    .pic{
        padding: 0 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pic img{
        width: auto;
        height: 280px;
    }
}

@media screen and (max-width:500px) {

    .header img{
        width: auto;
        height: 45px;
    }

    .toggle_btn{
        display: block;
    }

    .header_dropdown{
        display: block;
    }

    .pic{
        padding: 0 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pic img{
        width: auto;
        height: 200px;
    }
}
