<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/logowhite1.png">
        <link rel="stylesheet" href="/asset/aboutme.css">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/asset/fontawesome-free-6.5.2-web/css/all.css">
    <title>kittyboy | Home</title>
</head>

<header>
    <div class="header"> 
        <a href="/index.html"><img src="/images/logo2.png"></a>
        <ul class="menu">
            <li><a href="/view/aboutme.html">ABOUT ME</a></li>
                <li><a href="#">MENU</a> 
                    <ul class="menu-sub">
                        <li><a href="/view/skill.html">SKILL</a></li>
                        <li><a href="/view/pc.html">PC & Gaming gear</a></li>
                        <li><a href="#">Osu!</a>
                            <ul class="osu">
                                <li><a href="/view/osu/osu.html">About osu!</a></li>
                                <li><a href="/view/osu/osuskin.html">osu!skin</a></li>
                                <li><a href="/view/osu/osucollab.html">Picture</a></li>
                                <li><a href="/view/osu/osuParticipant.html">osu!Participant</a></li>
                                <li><a href="/view/osu/staff_tournament.html">osu!Staff</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            
            <li><a href="/view/contact.html">LINK CONTACT</a></li>
        </ul>

        <div class="menu-header">

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header_dropdown">

                <li><a href="/view/aboutme.html">ABOUT ME</a></li>
                <li><a href="/view/skill.html">SKILL</a></li>
                <li><a href="/view/pc.html">PC & Gaming gear</a></li>
                <li class="osu-list">
                    <a href="#" id="osu-menu" class="nav-item">Osu!</a>
                    <ul class="osu-drop">
                        <li><a href="/view/osu/osu.html">About osu!</a></li>
                        <li><a href="/view/osu/osuskin.html">osu!skin</a></li>
                        <li><a href="/view/osu/osucollab.html">Picture</a></li>
                        <li><a href="/view/osu/osuParticipant.html">osu!Participant</a></li>
                        <li><a href="/view/osu/staff_tournament.html">osu!Staff</a></li>
                    </ul>
                </li>  
                <li><a href="/view/contact.html">LINK CONTACT</a></li>

            </div>
        </div>
    </div>
</header><br><br>
    

    <div class="about">
         <img src="/images/myface.png">
            <div class="info">
                <h2>About Me</h2><br>
                <p>สวัสดีครับ ผมชื่อ ณัฐภูมิ วิลาวรรณ (Nattapoom Wilawan) อายุ 20, ปัจจุบันเรียนมหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือระยอง คณะบริหารธุรกิจ สาขาคอมพิวเตอร์ธุรกิจ ปีที่ 2<br><br>

                    นี่คือเว็บไซต์ของผมเอง เป็นผู้เขียนเว็บไซค์ทั้งหมด ตอนนี้กำลังเรียนภาษา HTML,CSS และ JAVASCRTPT สาเหตุที่เขียนเว็บเพราะตัวอยากที่จะทำเว็บไซต์คืออันแรกในชีวิต และเป็นคนที่ชอบคอมพิวเตอร์
                    ตั้งแต่เด็ก โดยพี่ชายเป็นคนสอนใช้งาน<br><br>

                    งานอดิเรกของผมคือ การออกแบบรูปภาพโดยใช้ Adobe Photoshop และการตัดต่อคลิปวิดีโอ Sony Vegas และผมอยากลองที่จะใช้งานโปรแกรมอื่นด้วย เวลาอื่นผมก็จะเล่นเกมและฟังเพลง

                </p>
            </div>
    </div><br>


    <div class="about-why">

        <p>
            ที่ผมชอบทำออกแบบและการเขียนเว็บไซค์ เพราะ ผมสนุกกับมัน สนุกการที่ได้สร้างได้คิดสร้างสรรค์ ผมได้ทำงานแนวนี้ ผมมีความสุขมากๆ ผมได้เจอสิ่งที่ตัวเองต้องการมากที่สุด<br><br>
            แต่ผมกับพลาดที่เรียนสายธุรกิจ เพราะตอนนั้นผมกำลังที่จะค้นหาตัวเองไม่ได้และไม่ค่อยเอาใจใส่อนาคตของตัวเองด้วย แต่พอผมโตขึ้นผมก็นึกถึงอนาคตของตัวเอง ซึ่งผมก็พยายามค้นหาจนเจอครับ<br><br>
            แรงบันดาลใจของผมคือ ครอบครัวและคนรักของผม เขาให้กำลังใจผมและดูแลตลอดมา พยายามซัพพอร์ตแล้วผมดีใจมากๆๆ และขอบคุณมากๆครับ<br><br>
        </p>

         <img src="/images/why.png">
    </div><br>

        <div class="info-rhythm-game">
            <h1>What got you into Rhythm Game</h1>
        </div><br><br>

    <div class="about-osu">
        <img src="/images/trollfacekitty.png">

            <p>ผมเคยมีประสบการณ์ในการเป็นนักแข่งเกมโอสุและผู้ดูแลการแข่งขัน คือ เกมแนวดนตรี(Rhythm Game)<br><br>

                เริ่มเข้าวงการเกมแนวดนตรีช่วงปี 2013(อายุ 9) เกมแรกที่ผมเล่นคือเกม Thapster ตอนเด็กผมชอบฟังเพลงและร้องเพลงไปด้วย พอมาเกมที่เล่นแล้วสนุกก็เลยติดเกมแนวนี้มากๆ<br><br>

                ผมมาเล่นเรื่อยๆจนตัวเกมปิดทำการ ปิดเมื่อปี 2017 (เห็นเขาบอกว่าเกมเขากำลังกลับเปิดให้เล่น!!!) แล้วก็มาเจอเกมโอสุตอนปี 2018 ซึ่งลองเล่นดูผมเล่นที่จะห่วยมากๆ แต่ผมก็ไม่หยุดพัฒนาตัวเอง<br><br>

                ช่วงปี 2019 ผมได้เจออะไรเยอะมาก เช่น เจอเพื่อนในเกม ไปงาน TGS [Thailand Game Show 2019] กับคนเล่นโอสุด้วยกัน สมัครการแข่งขัน (Osu!maniaThailand Tournament 2019) เป็นปีที่ผมรู้สึกว่ามีความสุขมากเวลานั้น<br><br>

                การเล่นเกมของผม ไม่ได้แค่เล่นอย่างเดียว ได้ลองทำ Beatmap ให้คนอื่นมาเล่นได้ ได้ลองฝึกการออกแบบ เช่น Banner,Thumbnail,Logo และการตัดต่อคลิปวิดีโอ<br><br>
                
                ปัจจุบันจะเล่นอยู่ แต่กำลังวางแผนอนาคตด้วยว่าจะจัดทัวร์การแข่งขันหรือจะเปิดเชิฟเวอร์โอสุ(ตอนนี้กำลังศึกษาอยู่ครับ)<br><br>
            </p>

    </div><br>

    <footer> 
        <p>&#169; 2024 <a href="https://github.com/GoDJIKunG">Nattapoom Wilwan</a></p> 
    </footer>

    <script src="/javascript/dropmenu.js"></script>
    <script src="/javascript/osudrop.js"></script>
    <script src="/javascript/click_outside_menu_close.js"></script>
    <script src="/javascript/showpic.js"></script>
</body>
</html>