<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/logowhite1.png">
        <link rel="stylesheet" href="/asset/menu/pc.css">
        <link rel="stylesheet" href="/asset/fontawesome-free-6.5.2-web/css/all.css">
    <title>kittyboy | PC & Spec</title>
</head>
<body onload="realtimeClock()">

    <header>
        <div class="header"> 
            <a href="/index.html"><img src="/images/logo2.png"></a>
            <ul class="menu">
                <li><a href="/view/aboutme.html">ABOUT ME</a></li>
                    <li><a href="#">MENU</a> 
                        <ul class="menu-sub">
                            <li><a href="/view/skill.html">SKILL</a></li>
                            <li><a href="/view/pc.html">PC & Gaming gear</a></li>
                            <li><a href="#">Osu!</a>
                                <ul class="osu">
                                    <li><a href="/view/osu/osu.html">About osu!</a></li>
                                    <li><a href="/view/osu/osuskin.html">osu!skin</a></li>
                                    <li><a href="/view/osu/osucollab.html">Picture</a></li>
                                    <li><a href="/view/osu/osuParticipant.html">osu!Participant</a></li>
                                    <li><a href="/view/osu/staff_tournament.html">osu!Staff</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                
                <li><a href="/view/contact.html">LINK CONTACT</a></li>
            </ul>

        <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
        </div>

        </div>

        <div class="header_dropdown">

            <li><a href="/view/aboutme.html">ABOUT ME</a></li>
            <li><a href="/view/skill.html">SKILL</a></li>
            <li><a href="/view/pc.html">PC & Gaming gear</a></li>
            <li><a href="/view/osu/osu.html">Osu!</a></li>
            <li><a href="/view/contact.html">LINK CONTACT</a></li>

        </div>

    </header><br><br>

    <div class="gaminggear">
        <h1>PC Spec & Gaming gear</h1>
    </div><br>
            <div class="pc">
                <h3>
                    CPU : I5-13400F<br>
                    MainBoard : TUF GAMING B760M-PLUS WIFI D4<br>
                    RAM : 16GB Kingston FURY Beast DDR5 RGB<br>
                    GPU : GIGABYTE RTX 2060 6GB<br>
                    STORAGE : WD_Black 500GB M.2<br>KINGTON 240GB SSD<br>
                    WD_Blue 500GB HDD<br>
                    Other : IPHONE 13 , IPAD AIR 5<br>
                </h3>
            <img src="/images/pc2.png">
            </div>

        <div class="gaming">
            <img src="/images/pc1.png">
            <h3>
                KeyBoard : HyperX Alloy Origin [Red Switch]<br>
                Mouse : Razer Viper mini<br>
                Headset : Signo HP-832W 7.1 surround<br>
                Mircophone : HyperX Solocast [White]<br>
            </h3>
        </div>

    <footer> 
        <p>&#169; 2024 <a href="https://github.com/GoDJIKunG">Nattapoom Wilwan</a></p> 
    </footer>

    <script src="/javascript/dropmenu.js"></script>
</body>
</html>